doctype html
html(lang='en')
    haed
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Po krasote
    body
        div(class="block")
            select
                each val in [1,2,3,4]
                    option= `${val}${val}${val}`
        - let n = 1;
        while n <= 7
            div(class="block" id="component" + n++)