.container {
  width: 100vw;
  display: flex;
  position: relative;
  z-index: 1;

  &.fullscreen {
    min-height: 100vh;
  }
}

.content {
  width: 100%;

  &.centred {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
