html {
  box-sizing: border-box;
  font-size: $rem-value;
  font-family: $font-first;
}

body {
  background: $glb-color-body;
  font-size: $font-size;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
    outline: none;
  }
}
@include work-layout();
