.container {
  width: 100vw;
  display: flex;
  border: 4px solid #333; //TODO remove this

  &.fullscreen {
    min-height: 100vh;
  }
}

.content {
  width: 100%;

  &.centred {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
